<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coducatif">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coducatifacceuil"
        tools:targetApi="31">
        <activity
            android:name=".MaineActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.coducatif.quiz3Partie1Activity"
            android:exported="false" />
        <activity
            android:name="com.example.coducatif.certifActivity"
            android:exported="false" />
        <!-- La bonne activité de lancement -->

        <activity
            android:name="com.example.coducatif.roadmap"
            android:exported="false" />
        <activity
            android:name="com.example.coducatif.levels"
            android:exported="true" />
        <activity
            android:name="com.example.coducatif.course_content"
            android:exported="false" />
       <activity android:name=".course_crcq"
           android:exported="false"/>
        <activity
            android:name=".quiz2Partie2Activity"
            android:exported="false" />
        <activity
            android:name=".quiz1Partie2Activity"
            android:exported="false" />

        <activity
            android:name=".quiz6Partie1Activity"
            android:exported="false" />
        <activity
            android:name=".quiz5Partie1Activity"
            android:exported="false" />
        <activity
            android:name=".quiz4Partie1Activity"
            android:exported="false" />


        <activity
            android:name=".course_completedActivity"
            android:exported="false" />
        <activity
            android:name=".InviteFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".DBHelper$certifActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".QuiZ1Partie1Activity"
            android:exported="false" />







        <activity android:name=".IntroActivity" />

        <activity android:name=".Intro1Activity"
            android:exported="false"/>
        <activity android:name=".Intro2Activity"
            android:exported="false"/>

        <activity android:name=".SignIN"
            android:exported="false"/>

        <activity android:name=".popularactivity"
            android:exported="false"/>
        <activity android:name=".ScoreActivity"
            android:exported="false"/>
        <activity android:name=".acceuil"
            android:exported="false"/>
        <activity android:name=".mentors"
            android:exported="false"/>
        <activity android:name=".PinActivity"
            android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".EditProfileActivity" android:exported="false"/>


        <activity android:name=".FillProfileActivity" />



    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>